In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import math

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 5GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/iris-flower-dataset/IRIS.csv

In [2]:
df=pd.read_csv('../input/iris-flower-dataset/IRIS.csv')

In [3]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [4]:
df1=df.drop(columns={'sepal_length','sepal_width','petal_width'},inplace=True)

In [5]:
df2=df.sort_values('petal_length')
df2

     petal_length         species
22            1.0     Iris-setosa
13            1.1     Iris-setosa
14            1.2     Iris-setosa
35            1.2     Iris-setosa
36            1.3     Iris-setosa
..            ...             ...
131           6.4  Iris-virginica
105           6.6  Iris-virginica
117           6.7  Iris-virginica
122           6.7  Iris-virginica
118           6.9  Iris-virginica

[150 rows x 2 columns]

In [6]:
a=df2['petal_length'].unique()
a

array([1. , 1.1, 1.2, 1.3, 1.4, 1.5, 1.6, 1.7, 1.9, 3. , 3.3, 3.5, 3.6,
       3.7, 3.8, 3.9, 4. , 4.1, 4.2, 4.3, 4.4, 4.5, 4.6, 4.7, 4.8, 4.9,
       5. , 5.1, 5.2, 5.3, 5.4, 5.5, 5.6, 5.7, 5.8, 5.9, 6. , 6.1, 6.3,
       6.4, 6.6, 6.7, 6.9])

In [7]:
def entropy(s,v,ver,all_total):
    if(s!=0):
        e1=-(s/all_total)*math.log2(s/all_total)
    else:
        e1=0
    if(v!=0):
        e2=-(v/all_total)*math.log2(v/all_total)
    else:
        e2=0
    if(ver!=0):
        e3=-(ver/all_total)*math.log2(ver/all_total)
    else:
        e3=0
    return(e1+e2+e3)

In [8]:
i=0
info_gain=[]
S=df2[df2['species']=='Iris-setosa'].shape[0]
V=df2[df2['species']=='Iris-virginica'].shape[0]
VER=df2[df2['species']=='Iris-versicolor'].shape[0]
total=df2.shape[0]
EP=-(S/total)*math.log2(S/total)-(V/total)*math.log2(V/total)-(VER/total)*math.log2(VER/total)
while i< len(a)-1:
    df_1=df2[df2['petal_length']>a[i]]
    S=df_1[df_1['species']=='Iris-setosa'].shape[0]
    V=df_1[df_1['species']=='Iris-virginica'].shape[0]
    VER=df_1[df_1['species']=='Iris-versicolor'].shape[0]
    total1=df_1.shape[0]
    E1=entropy(S,V,VER,total1)
    
    df_2=df2[df2['petal_length']<=a[i]]
    S1=df_2[df_2['species']=='Iris-setosa'].shape[0]
    V1=df_2[df_2['species']=='Iris-virginica'].shape[0]
    VER1=df_2[df_2['species']=='Iris-versicolor'].shape[0]
    total2=df_2.shape[0]
    E2=entropy(S1,V1,VER1,total2)
    WE=(total1/total)*E1 + (total2/total)*E2
    IGO=EP-WE
    info_gain.append(IGO)
    i+=1
indx=info_gain.index(max(info_gain))
a[indx]

1.9

In [9]:
## 1.9 is the best spliting criteria